<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.mapper.CommentMapper">

  <sql id="commentColumns">
      idx
    , board_idx
    , content
    , writer
    , delete_yn
    , insert_time
    , update_time
    , delete_time
  </sql>

  <insert id="insertComment" parameterType="CommentDTO">
    INSERT INTO reply (
      <include refid="commentColumns" />
    ) VALUES (
        seq_reply_idx.nextval
      , #{boardIdx}
      , #{content}
      , #{writer}
      , NVL(#{deleteYn, jdbcType=VARCHAR}, 'N')
      , SYSDATE
      , NULL
      , NULL
    )
  </insert>

  <select id="selectCommentDetail" parameterType="long" resultType="CommentDTO">
    SELECT
      <include refid="commentColumns" />
    FROM
      reply
    WHERE
      delete_yn = 'N'
    AND
      idx = #{idx}
  </select>

  <update id="updateComment" parameterType="CommentDTO">
    UPDATE reply
    SET
        update_time = SYSDATE
      , content = #{content}
      , writer = #{writer}
    WHERE
      idx = #{idx}
  </update>

  <update id="deleteComment" parameterType="long">
    UPDATE reply
    SET
        delete_yn = 'Y'
      , delete_time = SYSDATE
    WHERE
      idx = #{idx}
  </update>

  <select id="selectCommentList" parameterType="CommentDTO" resultType="CommentDTO">
    SELECT
      <include refid="commentColumns" />
    FROM
      reply
    WHERE
      delete_yn = 'N'
    AND
      board_idx = #{boardIdx}
    ORDER BY
      idx DESC,
      insert_time DESC
  </select>

  <select id="selectCommentTotalCount" parameterType="CommentDTO" resultType="int">
    SELECT
      COUNT(*)
    FROM
      reply
    WHERE
      delete_yn = 'N'
    AND
      board_idx = #{boardIdx}
  </select>

</mapper>