<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="project/layout/basic">

<th:block layout:fragment="content">
	
  <div class="box2"><div class="detail">
	 <div th:if="${session.loggedInUser} == null">
		 로그인이 필요합니다
	 </div>
		
	 <div th:unless="${session.loggedInUser} == null">
		<h2 th:text="${session.loggedInUser.nickname}+' '+님"></h2>
		
		<div class="myinfo">
			<p th:text="'직원번호: '+${employee.getNo}"/>
			<p th:text="'이름: '+${employee.getName}"/>
			<p th:text="'부서: '+${employee.getDepName}"/>
			<p th:text="'직급: '+${employee.getJikup}"/>
			<p th:text="'입사일: '+${#temporals.format(employee.getInsertTime, 'yyyy-MM-dd')}"/>
			<p th:text="'전화번호: '+${employee.getTelNum}"/>
			<p th:text="'이메일주소: '+${employee.getEmail}"/>
		</div>
	 </div>
  </div></div>
</th:block>
</html>
