@font-face {
    font-family: 'SOYOMapleBoldTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
input{border: 1px solid gray; border-radius: 3px; height: 20px; }
/* fragments ------------------------------------*/
body{
position:absolute;;
margin:0px;
min-height: 500px;
height: 89%;
min-width: 100%;
box-sizing: border-box;
background: none;
color: black;
font-size: 12px;
font-family: 'SOYOMapleBoldTTF', Arial, serif;
justify-content: center;
}
.myinfo p{
margin: 9px;
font-size: 13px;
}
#header{background: #f4f5f9; height: 65px;border: 1px solid #dddfe6;}
#main{ /*메뉴바*/
padding: 18px 40px ;
font-size: 33px;
line-height: 100%;
font-weight: 1000;
cursor: pointer;
}
#main:hover	{ color: #252c41;}
#main:active{ color: #dddfe6;}
#info{font-family: Arial, sans-serif; position:relative; top:-30px; text-align: center; font-size: 15px;}
#container{display:flex; height:100%;}

/* navigation */
.rule-toggle{width: 220px; transition:all 300ms linear;}
.disable{width: 10px; }
#navigation{ height:100%; background: #f4f5f9; border:1px solid #ff00000;}
div#navigation ul			{ margin:0px; margin-top:1px; margin-left:-39px; list-style-type: none;}
div#navigation li			{ margin-top:-1px; }
div#navigation li a			{ display:block; color:#252c41; margin-left:-1px;  width: 220px; padding:6px 23px; font-size:17px;}
div#navigation li a:link	{ text-decoration:none; }
div#navigation li a:hover	{ text-decoration:none; background-color: #dddfe6;}
div#navigation li a:visited	{ text-decoration:none;}
div#navigation li a:active	{ text-decoration:none; color: #f4f5f9;}

#mode{position:absolute; left:23px; text-decoration:none; bottom:20px; font-size: 20px;}
#mode a{color: #000000;}
#mode a:link{text-decoration:none;}
#mode a:hover {color: #dddfe6;}
#mode a:active{color: #f4f5f9;}
.box{
	position:absolute; left: 20px; top:30px;
 	width: 0;
    height: 0;
    border-left: 8px solid transparent; /* 왼쪽 삼각형 모양 */
    border-right: 8px solid transparent; /* 오른쪽 삼각형 모양 */
    border-top: 12px solid ; /* 아래 부분을 만들어 삼각형 완성 */}
.box2{
box-sizing: border-box;
width:100%;
height:100%;
min-height: 500px;
text-align: center;
background: #f4f5f9;
right:0px;
}
.box2-inbox{
margin-top: 10px;
margin-left: auto;
margin-right: auto;
box-sizing: border-box;
width: 80%;
height: 80%;
max-width: 400px;
background: #f4f5f9;
border:1px solid #dddfe6;
border-radius: 10px;
padding: 60px;
text-align: center;
justify-content: center;
}
.box2-inbox2{
margin-left: auto;
margin-right: auto;
box-sizing: border-box;
width: 95%;
height: 100%;
max-width: 800px;
padding: 10px;
text-align: center;
justify-content: center;
}
.box-text {font-weight: 350; padding-top: 10px; margin-left: 60px;}
.box-text2{font-weight: 350; padding-top: 10px; margin-left: 60px; margin-right: 13px;}/*닉네임*/

#footer{
width: 100%;
height: 20px;
background: black;
color: white;
}

/*로그인 회원가입*/
input::placeholder{color: gray;}
input[type="submit"]{color: black; font-size: 12px; margin-top: 20px; cursor: pointer;}

.login > form > input{
	font-size: 12px;
    width: 100%;
    height: 35px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
}
.signUp > form > input{
	font-size: 12px;
    width: 100%;
    height: 34px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 6px;
    background-color: #F8F8F8;
}

fieldset{margin: 10px}
    
/* 버튼------------------------------------*/
.user-button {
cursor: pointer;
position: absolute;
height: 40px;
right: 25px;
top: 15px;
border:0px solid;
border-radius: 10px;
background: none;
font-size: 16px;
text-align: center;
font-wight: 1000;
}
button:active { color: #dddfe6;}

.add{ /*직원 추가/게시글 작성 버튼*/
position: absolute;
top:100px;
right: 35px;
height: 25px;
border: 1px solid gray;
border-radius: 3px;
font-size: 13px;
background: #ffffff;
color:black;
cursor: pointer;
}

/* 게시판 외 ------------------------------------*/
#searchForm{position: absolute; right:3%;}
#searchForm > input[type="text"]{
    height: 25px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 5px;
}
input[type="submit"]{margin:0px; height: 27px;}
select {height: 24px; margin-bottom: 10px;}
table {margin-top: 50px;
	   margin-left: auto;
	   margin-right: auto;
	   background-color: #ffffff; 
	   width: 95%;
	   border-top: 5px solid black;
	   border-collapse: collapse;
	   } 
th,td{border: 1px solid #dddfe6;}
th {text-align: center; background-color: #dddfe6;; color: black; height: 30px;}
td {text-align: left; color: black; height: 25px; padding: 0px 5px; }
tr:nth-child(even) {background-color: #f4f5f9;}
tr:hover {background-color: #dddfe6;}
.td-ss{width: 20px;}
.td-s{width: 40px;}
.td-s-{width: 55px;}
.td-m{width: 110px;}
.td-max{width: 100px;}


textarea{ border: 0px; margin-top:5px; font-size: 12px; height: 100px; }
input[type="submit"]:hover{ background-color: #1a8cdc;}

 .pagination { list-style-type: none; display: flex; justify-content: center; margin: 20px 0; padding: 0; }
  .pagination li {
    display: inline-block;
    margin: 0 5px;
    padding : 5px 0px; 
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 4px;
    cursor: pointer;
  }
  .pagination li a {padding : 5px 10px;}

  .pagination li.active {
    background-color: #007bff;
    color: #fff;
  }

/*인사관리수정 -------------------------------*/
.emp a{cursor: pointer; color: blue; text-decoration:underline;}
/*게시판상세정보 -------------------------------*/
.reply {border-top: 1px solid gray; margin-top:20px; padding: 5px;}
.reply textarea { width:80%; border: 1px solid #c0c0c0; border-radius: 5px; padding: 5px; margin: 0px 0px 0px 30px; height:22px;}
.reply input[type="submit"] {margin:0px; position:relative; top:-10px;}
.reply table {border: 0px;}
.reply td {border: 0px;}

#board-reg a{cursor: pointer; color: blue;}
#board-reg a:link	{ text-decoration:none; }
#board-reg a:visited{ text-decoration:none; }
#board-reg a:active	{ text-decoration:none; }
.detail {
	text-align: left;
	justify-content: center;
    font-family: Arial, sans-serif;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f5f9;
    border-radius: 10px;
    }
 h2 {
   margin-top: 0;
   margin-bottom: 10px;
}
.post-info {  margin-bottom: 20px; }
.post-info textarea {width:100%;}
.post-info table {margin-top:10px;}
.post-info input[type="text"]{border: 0px; width:100%; font-size:12px;}
.post-info input[type="submit"]{position:absolute;
margin-top:15px; margin-left: 15px; right: 20px;}
/*추가페이지-------------------------------*/
.addpage{all: unset; }

